<div class="calculator card">
    <input type="text" class="calculator-screen z-depth-1" [(ngModel)]="result" disabled />
  
    <div class="calculator-keys">
      <button type="button" class="operator btn btn-info" (click)="addOperator('+')">+</button>
      <button type="button" class="operator btn btn-info" (click)="addOperator('-')">-</button>
      <button type="button" class="operator btn btn-info"></button>
      <button type="button" class="operator btn btn-info"></button>
  
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('7')">7</button>
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('8')">8</button>
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('9')">9</button>
  
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('4')">4</button>
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('5')">5</button>
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('6')">6</button>
  
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('1')">1</button>
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('2')">2</button>
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('3')">3</button>
  
      <button type="button" class="btn btn-light waves-effect" (click)="addToResult('0')">0</button>
      <button type="button" class="decimal function btn btn-secondary"></button>
      <button type="button" class="all-clear function btn btn-danger btn-sm" (click)="clearResult()">AC</button>
  
      <button type="button" class="equal-sign operator btn btn-default" (click)="calculate()">=</button>
    </div>
  </div>