<div class="container">
    <h1>Ejemplo</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maiores consequuntur iusto cupiditate iste atque, totam obcaecati nobis commodi deleniti optio consectetur perferendis beatae rem ab. Quis impedit odit cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, hic sunt. Mollitia quia itaque inventore, earum ut, soluta, eius dolores saepe quae voluptatem quaerat libero fugiat facere ipsum atque repellendus?
    </p>
</div>